In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
df_listings = pd.read_csv('aribnb_clean.csv')

In [3]:
len(list(df_listings.columns))

93

In [4]:
df_listings.head()

,Unnamed: 0,ID,Name,Summary,Space,Description,Neighborhood.Overview,Notes,Transit,Access,...,Fire extinguisher,24-hour check-in,Smoking allowed,Wheelchair accessible,Safety card,Host Has Profile Pic,Host Identity Verified,Is Location Exact,Instant Bookable,Host Is Superhost
0,1,3150371,Double room + bathroom - La Latina,"Double room with own bathroom in La Latina, in...",The apartment is spacious and cozy. It is 90 m...,"Double room with own bathroom in La Latina, in...",La Latina is one of the most famous neighbourh...,NaN,The closest tube station is La Latina (line 5 ...,"You can use the kitchen, the lounge, the terra...",...,False,False,False,False,False,True,True,True,False,False
1,2,3378181,"Ópera/Plz Mayor -- A/C, elevator",Old world charm meets modern comfort in our ne...,"Designed with the traveler in mind, our one-be...",Old world charm meets modern comfort in our ne...,The neighborhood is steeped in history and clo...,NaN,The apartment is close to the Ópera metro stat...,The entire apartment is yours.,...,False,False,False,False,False,True,True,True,True,False
2,3,2070750,Centric room with a balcony,Lominous room for rent in the heart of the old...,Lominous room for rent in the heart of the old...,Lominous room for rent in the heart of the old...,-,-,-,-,...,False,False,False,False,False,True,True,True,False,False
3,4,9832499,PLAZA DE ESPAÑA - Único - Gimnasio.,"Ubicado en el famoso edificio Torre de Madrid,...","Ubicado en el famoso edificio Torre de Madrid,...","Ubicado en el famoso edificio Torre de Madrid,...",NaN,NaN,"Metro ""Plaza de España"".",Gimnasio. Conserjería 24hs. Seguridad 24hs.,...,True,True,False,False,False,True,True,False,True,True
4,5,1868170,"Loft/duplex 150m2, 3 double rooms","Huge, open plan spacious apartment in the cent...","Huge, open plan spacious apartment in the cent...","Huge, open plan spacious apartment in the cent...",NaN,NaN,Walking distance to everything you need.. also...,NaN,...,False,True,False,False,False,True,True,True,False,True

In [5]:
# the first column duplicats the index and can be deleted
df_listings.drop('Unnamed: 0', axis=1, inplace=True)

Let's have a look at the columns with text. Which can be used as categorical variables and which should be transformed in order to be used in further analysis?

In [6]:
df_listings.select_dtypes(include='object').head()

,Name,Summary,Space,Description,Neighborhood.Overview,Notes,Transit,Access,Interaction,House.Rules,...,Street,Neighbourhood.Cleansed,Neighbourhood.Group.Cleansed,Property.Type,Room.Type,Bed.Type,Calendar.Updated,First.Review,Last.Review,Cancellation.Policy
0,Double room + bathroom - La Latina,"Double room with own bathroom in La Latina, in...",The apartment is spacious and cozy. It is 90 m...,"Double room with own bathroom in La Latina, in...",La Latina is one of the most famous neighbourh...,NaN,The closest tube station is La Latina (line 5 ...,"You can use the kitchen, the lounge, the terra...",The bedrooms are totally separated: one at one...,Care and respect are both required in the comm...,...,Palacio,Palacio,Centro,Apartment,Private room,Real Bed,4 days ago,2014-06-15,2017-04-01,flexible
1,"Ópera/Plz Mayor -- A/C, elevator",Old world charm meets modern comfort in our ne...,"Designed with the traveler in mind, our one-be...",Old world charm meets modern comfort in our ne...,The neighborhood is steeped in history and clo...,NaN,The apartment is close to the Ópera metro stat...,The entire apartment is yours.,We are always available to answer questions an...,The Golden Rule shall apply always :) The apar...,...,Palacio,Palacio,Centro,Apartment,Entire home/apt,Real Bed,5 days ago,2014-07-09,2017-02-28,strict
2,Centric room with a balcony,Lominous room for rent in the heart of the old...,Lominous room for rent in the heart of the old...,Lominous room for rent in the heart of the old...,-,-,-,-,-,-,...,NaN,Palacio,Centro,Apartment,Private room,Real Bed,4 days ago,2014-07-22,2017-03-07,flexible
3,PLAZA DE ESPAÑA - Único - Gimnasio.,"Ubicado en el famoso edificio Torre de Madrid,...","Ubicado en el famoso edificio Torre de Madrid,...","Ubicado en el famoso edificio Torre de Madrid,...",NaN,NaN,"Metro ""Plaza de España"".",Gimnasio. Conserjería 24hs. Seguridad 24hs.,Siempre disponible para ayudarte a que tu esta...,1. Terminantemente prohibido fumar dentro del ...,...,Malasaña,Palacio,Centro,Apartment,Entire home/apt,Real Bed,today,2016-01-02,2017-03-31,strict
4,"Loft/duplex 150m2, 3 double rooms","Huge, open plan spacious apartment in the cent...","Huge, open plan spacious apartment in the cent...","Huge, open plan spacious apartment in the cent...",NaN,NaN,Walking distance to everything you need.. also...,NaN,NaN,Please treat my house with the care and respec...,...,Palacio,Palacio,Centro,Apartment,Entire home/apt,Real Bed,4 weeks ago,2013-12-09,2017-03-26,moderate

The columns Summary, Space, Description, Neighborhood.Overview, Notes, Transit, Access, Interaction, House.Rules and Host.About are all text columns that cannot be converted to categorical variables. One way to use them in our analysis could be to count the length of each description and see if lengthy texts have an impact on listing's popularity and price.

In [7]:
col_list = ['Summary', 'Space', 'Description', 'Neighborhood.Overview', 'Notes', 'Transit', 'Access', 'Interaction', 'House.Rules', 'Host.About']
for i in col_list:
    df_listings[i+'.Length'] = 0
    for index, value in df_listings[i].iteritems():
        #count the length of each non null description
        if type(value) == str:
               df_listings[i+'.Length'][index] = len(value.split())
        #impute null and non text values with zeros because null here means that the description is missing
        else:
            df_listings[i+'.Length'][index] = 0
    #cast the column as integer
    df_listings[i +'.Length'] = df_listings[i +'.Length'].astype('int32')
#drop the original text columns
df_listings.drop(col_list, axis=1, inplace=True)

Let's have a look at the Name column and its length as well.

In [8]:
df_listings['Name'].str.len().max()

75

A name consisting of 75 words seems to be a bit too lengthy and uninformative for our analysis. It can be truncated to, for example, 40 characters.

In [9]:
df_listings['Name'] = df_listings['Name'].str[0:40] + '...'

The columns First.Review and Last.Review are dates and can be casted to datetime type.

In [10]:
df_listings['First.Review'] = pd.to_datetime(df_listings['First.Review'], format='%Y-%m-%d')
df_listings['Last.Review'] = pd.to_datetime(df_listings['Last.Review'], format='%Y-%m-%d')

In [11]:
df_listings['Calendar.Updated'].unique()

array(['4 days ago', '5 days ago', 'today', '4 weeks ago', 'a week ago',
       '2 months ago', '2 weeks ago', '6 days ago', '3 weeks ago',
       'never', '6 months ago', 'yesterday', '1 week ago', '6 weeks ago',
       '10 months ago', '5 weeks ago', '7 months ago', '3 days ago',
       '17 months ago', '13 months ago', '11 months ago', '3 months ago',
       '22 months ago', '18 months ago', '5 months ago', '4 months ago',
       '8 months ago', '20 months ago', '2 days ago', '16 months ago',
       '14 months ago', '24 months ago', '7 weeks ago', '19 months ago',
       '15 months ago', '12 months ago', '48 months ago', '9 months ago',
       '21 months ago', '30 months ago', '26 months ago', '29 months ago',
       '23 months ago', '34 months ago', '51 months ago', '25 months ago',
       '45 months ago', '31 months ago', '35 months ago', '33 months ago',
       '28 months ago', '27 months ago', '37 months ago', '57 months ago',
       '58 months ago', '52 months ago', '50 months ago'], dtype=object)

An interval value might be more informative for the Calendar.Updated column. We can calculate the integer values for days elapsed between the last calendar update and the scrapping. The value "never" might pose a problem.

In [12]:
#create a new column with period since last calendar update in days
df_listings['Days.from.Cal.Update'] = 0
for  index, value in df_listings['Calendar.Updated'].iteritems():
    if 'days ago' in value:
        df_listings['Days.from.Cal.Update'][index] = int(value.split()[0])
    elif 'weeks ago' in value:
        df_listings['Days.from.Cal.Update'][index] = int(value.split()[0]) * 7
    elif 'months ago' in value:
        df_listings['Days.from.Cal.Update'][index] = int(value.split()[0]) * 30
    elif value == 'today':
        df_listings['Days.from.Cal.Update'][index] = 0
    elif value == 'yesterday':
        df_listings['Days.from.Cal.Update'][index] = 1
    elif value == 'never':
        df_listings['Days.from.Cal.Update'][index] = df_listings['Days.from.Cal.Update'].max()
#drop the original Calendar.Updated column
df_listings.drop('Calendar.Updated', axis=1, inplace=True)

In [13]:
df_listings.head()

,ID,Name,Host.ID,Host.Name,Host.Since,Host.Location,Host.Response.Time,Host.Response.Rate,Host.Listings.Count,Host.Verifications,...,Space.Length,Description.Length,Neighborhood.Overview.Length,Notes.Length,Transit.Length,Access.Length,Interaction.Length,House.Rules.Length,Host.About.Length,Days.from.Cal.Update
0,3150371,Double room + bathroom - La Latina...,11902716,Daniel Y Ximena,2014-02-03,"Madrid, Community of Madrid, Spain",within a day,100.0,1.0,"email,phone,reviews,jumio",...,91,186,108,0,25,32,27,36,34,4
1,3378181,"Ópera/Plz Mayor -- A/C, elevator...",809083,Michael,2011-07-12,"Madrid, Madrid, Spain",within a day,94.0,3.0,"email,phone,facebook,reviews,jumio,work_email",...,155,150,53,0,37,5,30,162,175,5
2,2070750,Centric room with a balcony...,7005367,Sergio,2013-06-19,"Madrid, Community of Madrid, Spain",within a day,80.0,4.0,"email,phone,reviews,jumio",...,85,90,1,1,1,1,1,1,5,4
3,9832499,PLAZA DE ESPAÑA - Único - Gimnasio....,1647109,Daniel,2012-01-24,"Region of Murcia, Spain",within an hour,100.0,10.0,"email,phone,facebook,reviews,jumio,work_email",...,164,169,0,0,4,5,13,65,12,0
4,1868170,"Loft/duplex 150m2, 3 double rooms...",9738650,Carlos Chamarro,2013-10-31,"Madrid, Community of Madrid, Spain",within a few hours,100.0,1.0,"email,phone,reviews,jumio",...,172,182,0,0,13,0,0,28,87,28

The column Host.Verifications is not informative as it is. A more interesting feature would be the number of different verifications for each host.

In [14]:
#impute null values with zeros
df_listings.loc[df_listings['Host.Verifications'].isna(), 'Host.Verifications'] = 0

In [15]:
#add a new column 'N.of.Host.Verifications with the count of host's verifications
df_listings['N.of.Host.Verifications'] = 0
for index, value in df_listings['Host.Verifications'].iteritems():
    if value == 0:
        df_listings['N.of.Host.Verifications'][index] = 0
    else:
        df_listings['N.of.Host.Verifications'][index] = len(value.split(','))
#drop the original Host.Verifications column
df_listings.drop('Host.Verifications', axis=1, inplace=True)

In [16]:
df_listings.head()

,ID,Name,Host.ID,Host.Name,Host.Since,Host.Location,Host.Response.Time,Host.Response.Rate,Host.Listings.Count,Street,...,Description.Length,Neighborhood.Overview.Length,Notes.Length,Transit.Length,Access.Length,Interaction.Length,House.Rules.Length,Host.About.Length,Days.from.Cal.Update,N.of.Host.Verifications
0,3150371,Double room + bathroom - La Latina...,11902716,Daniel Y Ximena,2014-02-03,"Madrid, Community of Madrid, Spain",within a day,100.0,1.0,Palacio,...,186,108,0,25,32,27,36,34,4,4
1,3378181,"Ópera/Plz Mayor -- A/C, elevator...",809083,Michael,2011-07-12,"Madrid, Madrid, Spain",within a day,94.0,3.0,Palacio,...,150,53,0,37,5,30,162,175,5,6
2,2070750,Centric room with a balcony...,7005367,Sergio,2013-06-19,"Madrid, Community of Madrid, Spain",within a day,80.0,4.0,NaN,...,90,1,1,1,1,1,1,5,4,4
3,9832499,PLAZA DE ESPAÑA - Único - Gimnasio....,1647109,Daniel,2012-01-24,"Region of Murcia, Spain",within an hour,100.0,10.0,Malasaña,...,169,0,0,4,5,13,65,12,0,6
4,1868170,"Loft/duplex 150m2, 3 double rooms...",9738650,Carlos Chamarro,2013-10-31,"Madrid, Community of Madrid, Spain",within a few hours,100.0,1.0,Palacio,...,182,0,0,13,0,0,28,87,28,4